/* Base Page Layout */
body {
  margin: 0;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  background-color: var(--color-background-page);
  color: var(--color-text);
}

.page {
  display: grid;
  grid-template-columns: [start] repeat(12, 1fr) [end];  
}

/* Header */
header {
  grid-column: start / end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-xlarge);
  background-color: var(--color-background-header);
  color: var(--color-text-inverted);
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-xlarge);
}

.header-right .header-user {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.top-row {
  display: flex;
  align-items: center;
}

.top-row svg {
  width: 4em;
  height: auto;
}

.header-nav a {
  margin-left: var(--spacing-medium);
  color: var(--color-text-inverted);
  text-decoration: none;
}
.header-nav a:hover {
  text-decoration: underline;
}

/* Main */
main {
  grid-column: 2 / 10;
  padding: var(--spacing-medium);
  max-width: 400px;
  margin: 0 auto; 
}

